<h1 class="section-title">Motivos para usar</h1>
<div class="section-content">
    <div class="subsection">
        <p>
            Eu acredito fortemente que o jQuery é uma das grandes inovações no desenvolvimento web nos últimos anos. O jQuery mudou a forma como nós desenvolvedores desenvolvemos aplicações web e deve estar presente em boa parte das aplicações web de hoje em dia. Usando jQuery fica muito mais fácil trabalhar o DOM, adicionar efeitos nas páginas e fazer chamadas ajax, ou seja, fazer aquelas aplicações web super interativas que conseguem cativar os usuários.
        </p>        
    </div>
    <div class="subsection">
        <h2 class="subsection-title">Cross-browser</h2>
        <p>
            Um dos grandes benefícios do uso de jQuery é que ele lida as incompatiblidades entre browser para o desenvolvedor. Qualquer pessoa que trabalhou o mínimo de tempo desenvolvendo uma aplicação web sabe o quanto tempo é perdido desenvolvendo soluções que funcionem em todos os browsers, seja um layout que não ficou como deveria no Opera, ou funções javascript que funcionam de um jeito no Chrome mas funcionam de outro no Firefox ou não são nem implementadas no IE6.
        </p>
        <p>
            Sem o uso de uma biblioteca como essa, nós, desenvolvedores, teríamos que conhecer e saber lidar com cada diferença de implementação entre todos os possíveis browsers, em cada uma de suas versões e em cada sistema operacional. Uma tarefa dessa demandaria tempo que deveria ser usado para desenvolver features para os nossos usuários.
        </p>        
    </div>
    <div class="subsection">
        <h2 class="subsection-title">Grande adoção</h2>
        <p>
            O jQuery pode ser encontrado em aproximadamente 40% dos sites que usam javascript, ou seja, aprendendo jQuery você pode aumentar em muito a sua empregabilidade. Grandes empresas estão apostando no jQuery como a IBM, Netflix, Nokia, Wikipedia, Google e Microsoft. O Google inclusive faz o host do jQuery, enquanto a Microsoft já inclui o jQuery como default na sua IDE padrão, o Visual Studio.
        </p>
        <p>Além disso, a popularidade do jQuery entre os desenvolvedores é enorme, sendo bastante fácil de encontrar outros desenvolvedores para discutir soluções ou para buscar soluções em forums especializados.</p>
    </div>
    <div class="subsection">
        <h2 class="subsection-title">Plugins</h2>
        <p>
            A biblioteca do jQuery é bastante extensível e a comunidade produz plugins em uma velocidade frenética, toda vez que você tiver um problema, vale a pena chegar se alguém na comunidade já não resolveu esse problema, seja para usar paginadores, máscaras de campo, galerias de imagens, exibição de notificações, é possível achar soluções de todos os tipos e o melhor de tudo, as soluções são free e open source.
        </p>        
    </div>
    <div class="subsection">
        <h2 class="subsection-title">Excelente Documentação</h2>
        <p>
            A documentação do jQuery é uma das melhores que eu já usei, no site oficial, é muito fácil encontrar descrições das funções e cada parâmetro que elas posssuem, assim como implementações funcionais exemplificando o uso de cada uma delas.
        </p>        
    </div>
</div>    