<h1 class="section-title">Primeiro script com jQuery</h1>
<div class="section-content">
    <div class="subsection">
        <p>Ao adicionar a biblioteca jQuery a nossa página, passamos a ter acesso uma variável chamada jQuery que dá acesso a toda biblioteca de funções do jQuery. Na seção 15, falamos sobre namespaces, em como devemos no preocupar em manter os nossos módulos encapsulados em poucas variáveis, o jQuery segue isso a risca, temos acessos a dezenas de funções a partir de uma única variável.</p>
        <p>
            Porém digitar jQuery + alguma função toda vez que precisamos usar algum comando da biblioteca se torna cansativo a medida que temos dezenas de telas com dezenas de funções em nossa aplicação, por esse motivo, também podemos acessar, e é certamente a sintaxe mais usada, o jQuery através da variável $ (dolar), escrevendo $ + a função que queremos utilizar.
        </p>
    </div>
    <div class="subsection">
        <h2 class="subsection-title">Entendendo o DOM</h2>
        <p>Antes de escrevermos o nosso primeiro script jQuery é necessário entender o que é e para que server o DOM.  </p>        
    </div>

</div>